.popInfo {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #dd0707;
  background: #faf0f0;
  box-sizing: border-box;
  height: 60px;
  border-radius: 4px;
}
.pop-text-red {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #dd0707;
}

.pop-text-norm {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #666666;
}

.recent-transact {
  background: #ffffff;
  margin-top: 16px;
}
.recent-transact > div {
  width: 95%;
  padding-top: 16px;
  margin: 0 auto 0 auto;
}
.recentT {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recentP {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #121212;
}
.vAll {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #fd740e;
}
